

#photo-preview {
  // object-fit: cover;
  // border-radius:50%;
  // width: 80px;
  height: 100px;
}

.upload-photo {
  margin-top: 10px;
  border: 1px solid #d3d3d3;
  padding: 8px 20px;
  cursor: pointer;
  background: white;
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#results img {
  object-fit: cover;
  border-radius:50%;
  width: 80px;
  height: 80px;
  margin-right: 8px;
}

.form-section {
  padding-bottom: 20px;
}
