// Import page-specific CSS files here.
@import "home";
@import "components/buttons";
@import "components/form";
@import "cake_show";
@import "components/footer";
@import "cake_new";




.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.index-container {
  margin-top: 50px;
  text-align: left;
  padding-bottom: 100px; //footer height
}

.cards-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 50px;
  margin-top: 25px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s;
  text-align: center;
  font-size: 100%;
  border: none;
  border-radius: 5px;
}

.image-space {
  height: 100%;
}

.card:hover {
  width: 110%;
  height: 110%;
  font-size: 110%;
  transform: translate(-5%,-5%);
  margin-bottom: -10%;
}

.card img {
  padding: 8%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.info {
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  font-family: 'Yusei Magic', sans-serif;
  height: 50px;
}

.info p {
  margin-top: 0;
  letter-spacing: 0.1em;
  line-height: 1;
  opacity: 0.7;
}

.small-p {
  font-size: smaller;
  color:rgb(115, 170, 184);
  padding-top: 2px;
}

li {
  list-style-type: none;
}

a {
  color: black;
}

a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.664);
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}


