// Import page-specific CSS files here.
@import "home";
@import "components/buttons";
@import "components/form";
@import "cake_show";
@import "components/footer";
@import "cake_new";

.index-container {
  margin-top: 50px;
  text-align: left;
  padding-bottom: 100px; //footer height
}

.card {
  text-align: center;
  border: white;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  height: 180px;
}

li {
  list-style-type: none;
}

a {
  color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.card .image {
  height: 75%;
}
.card .image img {
  object-fit: cover;
  height: 100%;
  transition: height 1s;
}

.card .image img:hover {
  height: 115%;
}



.cards-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.image {
  padding-bottom: 10px;
  padding-top: 20px;
}

.info {
  padding-top: 5px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}


