.button-add {
  color: rgba(0, 0, 0, 0.664);
  background-color:#EEDA48;
  padding: 5px;
  width: 150px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}

.button-add:hover {
  color: rgba(0, 0, 0, 0.664)
}

.button-delete {
  color: rgba(0, 0, 0, 0.664);
  background-color:#F7B1C2;
  padding: 5px;
  width: 150px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}

.button-back {
  color: rgba(0, 0, 0, 0.664);
  background-color:#95D7DB;
  padding: 5px;
  width: 80px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 50px;
}

.button-back:hover {
  color: rgba(0, 0, 0, 0.664)
}