.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  border-bottom: 5px solid #95D7DB;
  margin-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}
