.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  border-bottom: 5px solid #95D7DB;
  margin-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand {
  display: flex;
}

.navbar-brand p {
  padding-left: 15px;
  margin-bottom: 0px;
  line-height: 2;
  opacity: .8;
}

.avatar {
  opacity: 0.6;
  width: 35px;
  border-radius: 50%;
  padding-top: 3px;
  margin-left: 5px;
}


